.return__btn {
  color: #fff;
  background-color: #239b56;
}

.form {
  width: 100%;
  height: 100%;
  position: relative;
  &__container {
    width: 50%;
    height: 90vh;
    margin: 0 auto;
    border: 1px dotted purple;
  }
}
