*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button{
    width: 50px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
}