*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button{
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #323232;
    border-radius: 5px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }